*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', 'Roboto Mono', sans-serif, monospace;
}
.font-mono{
    font-family: 'Roboto Mono', monospace;
}
*{
    // outline: 1px solid black;
  }