.fs-7{
    font-size: 14px;
}
.fs-8{
    font-size: 12px;
}

.my-rounded-0-125{
    border-radius: .125rem;
}
.my-rounded-start{
    border-radius: 2px 0px 0px 2px;
}
.my-rounded-end{
    border-radius: 0px 2px 2px 0px;
}
.my-px-32{
    padding-left: 32px;
    padding-right: 32px;
}
.my-py-32{
    padding-top: 32px;
    padding-bottom: 32px;
}
.my-px-12{
    padding-left: 12px;
    padding-right: 12px;
}
.my-py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.my-p-12{
    padding: 12px;
}
.my-mb-32{
    margin-bottom: 32px;
}
.my-lh-normal{
    line-height: normal;
}
.my-modal-w{
    max-width: 480px;
}