<!-- side-menu nav -->
<nav class="nav bg-light flex-column">
    <a href="index.html" class="nav-logo align-self-start"><img class="img-fluid" src="../assets/images/logo-ANSWER.svg"
        alt=""></a>
    <a href="#" class="nav-link link-dark fw-bold my-1 side-nav-link"><span class="material-icons ">
        assessment
      </span>Dashboard</a>
    <a href="#" class="nav-link text-dark fw-bold my-1 side-nav-link"><span class="material-icons ">
        question_answer</span>Question</a>
    <a href="index.html" class="nav-link text-dark fw-bold my-1 side-nav-link"><span class="material-icons ">
        assignment</span>Assignment</a>
    <a href="#" class="nav-link text-dark fw-bold my-1 side-nav-link"><span class="material-icons ">
        video_library</span>Course</a>
    <a href="admin.html" class="nav-link text-dark fw-bold my-1 side-nav-link"><span class="material-icons ">
        supervisor_account</span>Admin</a>
    <a href="#" class="nav-link text-dark fw-bold my-1 side-nav-link"><span class="material-icons">
        settings </span>Settings</a>
    <!-- user account -->
    <a href="#" class="nav-link d-flex mt-auto mb-3">
      <img class="user-img me-3" src="../assets/images/andychen.jpeg" alt="">
      <div>
        <p class="text-dark fw-bold mb-0 lh-self-1-2">Andy Chen</p>
        <span class="text-secondary fw-normal fs-7 mt-1">andy0401@mail.com</span>
      </div>
    </a>
  </nav>