<a href="#" class="nav-link text-dark link-success me-2">
    <span class="material-icons align-middle">search</span>
  </a>
  <a href="#" class="nav-link text-dark link-success">
    <span class="material-icons align-middle">notifications_active</span>
  </a>