<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layout/head'); -%>
        <title>Admin</title>
</head>

<body>
    <%- include('./layout/side-menu'); -%>

        <main class="my-main">
            <div class="container">
                <!-- navbar top -->
                <div class="navbar p-0 mb-5">
                    <h4 class="fw-bold mb-0 me-5">Admin</h4>
                    <!-- Add new admin -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn me-auto text-dark link-success fw-bold d-flex p-0"
                        data-bs-toggle="modal" data-bs-target="#addNewAdminModal">
                        <span class="material-icons link-success me-2">
                            add
                        </span>Add New Admin
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="addNewAdminModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content rounded-0">
                                <div class="modal-header  border-0 my-px-32 my-py-32">
                                    <h1 class="modal-title fs-4 fw-bold" id="exampleModalLabel">New Admin</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body pt-0 my-px-32">
                                    <form class="border-bottom pb-4">
                                        <h2 class="fs-5 fw-bold mb-3">Account</h2>
                                        <div class="mb-3">
                                            <label for="newName" class="form-label">Name</label>
                                            <input type="text" class="form-control my-rounded-0-125 border-dark py-3"
                                                id="newName" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="newEmail" class="form-label">Email</label>
                                            <input type="email" class="form-control my-rounded-0-125 border-dark  py-3"
                                                id="newEmail">
                                        </div>
                                    </form>
                                    <div class="border-bottom pb-4">
                                        <h2 class="fs-5 fw-bold py-3 mb-0">Verification</h2>
                                        <p class="d-flex fw-bold"><span class="material-icons text-danger me-2 ">
                                                warning
                                            </span>Unverified</p>
                                        <button type="button"
                                            class="btn btn-outline-success fw-bold w-100 my-rounded-0-125 py-3 border-secondary-subtle">Send
                                            Verification Mail</button>
                                    </div>
                                    <div class="border-bottom pb-4">
                                        <h2 class="fs-5 fw-bold py-3 mb-0">Access Level</h2>
                                        <select class="form-select my-rounded-0-125 p-3"
                                            aria-label="Default select example">
                                            <option selected disabled>-Choose access level-</option>
                                            <option value="admin">admin</option>
                                            <option value="user">user</option>
                                        </select>
                                    </div>
                                    <div>
                                        <h2 class="fs-5 fw-bold py-3 mb-0">Custom Access</h2>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input p-2 me-2 border-dark border-2"
                                                type="checkbox" value="" id="lecture">
                                            <label class="form-check-label" for="lecture">
                                                Lecture
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input p-2 me-2 border-dark border-2"
                                                type="checkbox" value="" id="coupon">
                                            <label class="form-check-label" for="coupon">
                                                Coupon
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input p-2 me-2 border-dark border-2"
                                                type="checkbox" value="" id="message">
                                            <label class="form-check-label" for="message">
                                                Message
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input p-2 me-2 border-dark border-2"
                                                type="checkbox" value="" id="setting">
                                            <label class="form-check-label" for="setting">
                                                Setting
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input p-2 me-2 border-dark border-2"
                                                type="checkbox" value="" id="task-menu">
                                            <label class="form-check-label" for="task-menu">
                                                Task Menu
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0 py-3 mt-3 my-px-32">
                                    <button type="button" class="btn btn-outline-success py-2 my-px-32 my-rounded-0-125"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="button"
                                        class="btn btn-success py-2 my-px-32 my-rounded-0-125">Add</button>
                                </div>


                            </div>

                        </div>
                    </div>

                    <%- include('./layout/top-right-icon'); -%>
                </div>
                <!-- table -->
                <table class="table table-hover mb-5 my-table">
                    <thead>
                        <tr>
                            <th scope="col"><a href="#" class="nav-link text-dark d-flex align-items-center">ID<span
                                        class="material-icons link-success fs-6 ms-1">
                                        arrow_downward
                                    </span></a></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email/th>
                            <th scope="col">Verified</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row">#1</th>
                            <td>Emir Wicks</td>
                            <td>emir.wicks@mail.com</td>
                            <td>Yes</td>


                            <td class="d-flex justify-content-end">

                                <!-- Button trigger modal -->
                                <a href="#" class="nav-link text-dark link-success me-2" data-bs-toggle="modal"
                                    data-bs-target="#adminViewModal">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success" data-bs-toggle="modal"
                                    data-bs-target="#adminEditModal">
                                    <span class="material-icons">edit</span>
                                </a>
                                <!-- view icon modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="adminViewModal" tabindex="-1"
                                    aria-labelledby="adminViewModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered my-modal-w">
                                        <div class="modal-content my-rounded-0-125">

                                            <div class="modal-body my-px-32 my-py-32 my-lh-normal">
                                                <!-- media object -->
                                                <div class="d-flex justify-content-between">
                                                    <div class="flex-shrink-0">
                                                        <img src="../assets/images/emir.jpeg" alt="admin image1"
                                                            class="my-admin-view-img">
                                                    </div>
                                                    <div class="flex-grow-1 ms-4">
                                                        <div class="d-flex justify-content-between">
                                                            <span class="mb-2">#1</span><button type="button"
                                                                class="btn-close text-dark link-dark"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <h6 class="fs-6 mb-0">Admin</h6>
                                                        <h5 class="fs-4 fw-bold mb-2">Emir Wicks</h5>
                                                        <p class="fs-7 text-secondary">emir.wicks@mail.com</p>
                                                        <!-- collapse   -->
                                                        <a class="btn border-0 d-flex align-items-center p-0 my-mb-32 my-lh-normal collapsed"
                                                            type="button" data-bs-toggle="collapse"
                                                            href="#admin-verify-collapse" aria-expanded="false"
                                                            aria-controls="admin-verify-collapse" role="button">
                                                            <span
                                                                class="text-dark bg-light py-1 px-2 me-auto ">Verified</span>
                                                            <span
                                                                class="material-icons link-success my-open align-bottom">
                                                                expand_more
                                                            </span>
                                                            <span
                                                                class="material-icons link-success my-close align-bottom">
                                                                expand_less
                                                            </span>
                                                        </a>
                                                        <div class="collapse" id="admin-verify-collapse">
                                                            <div class="d-flex justify-content-between">
                                                                <buttton
                                                                    class="btn btn-outline-danger my-rounded-0-125 my-px-32 py-2 my-lh-normal">
                                                                    Deactivate</buttton>
                                                                <button
                                                                    class="btn btn-success my-rounded-0-125 my-px-32 py-2 my-lh-normal">Edit</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- edit icon modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="adminEditModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content rounded-0">
                                            <div class="modal-header  border-0 my-px-32 my-py-32">
                                                <h1 class="modal-title fs-4 fw-bold" id="exampleModalLabel">Edit Admin
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body pt-0 my-px-32">
                                                <form class="border-bottom pb-4">
                                                    <h2 class="fs-5 fw-bold mb-3">Account</h2>
                                                    <div class="mb-3">
                                                        <label for="editName" class="form-label">Name
                                                        </label>
                                                        <input type="email"
                                                            class="form-control my-rounded-0-125 border-dark py-3 border-0 bg-light"
                                                            id="editName" aria-describedby="editName" value="Emir Wicks"
                                                            disabled>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="editEmail" class="form-label">Email</label>
                                                        <input type="email"
                                                            class="form-control my-rounded-0-125 border-dark  py-3 border-0 bg-light"
                                                            id="editEmail" value="emir.wicks@mail.com" disabled>
                                                    </div>
                                                </form>
                                                <div class="border-bottom pb-4">
                                                    <h2 class="fs-5 fw-bold py-3 mb-0">Verification</h2>
                                                    <p class="d-flex fw-bold"><span
                                                            class="material-icons text-success me-2 ">
                                                            check_circle
                                                        </span>Verified<small
                                                            class="ms-auto fs-7 fw-normal">2020/4/12</small></p>
                                                    <button type="button"
                                                        class="btn btn-outline-secondary fw-bold w-100 my-rounded-0-125 py-3 border-secondary-subtle"
                                                        disabled>Send
                                                        Verification Mail</button>
                                                </div>
                                                <div class="border-bottom pb-4">
                                                    <h2 class="fs-5 fw-bold py-3 mb-0">Access Level</h2>
                                                    <select class="form-select my-rounded-0-125 p-3"
                                                        aria-label="Default select example">
                                                        <option value="admin" selected>Admin</option>
                                                        <option value="user">User</option>
                                                    </select>
                                                </div>
                                                <div>
                                                    <h2 class="fs-5 fw-bold py-3 mb-0">Custom Access</h2>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input p-2 me-2 border-dark border-2"
                                                            type="checkbox" value="" id="edit-lecture">
                                                        <label class="form-check-label" for="edit-lecture">
                                                            Lecture
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input p-2 me-2 border-dark border-2"
                                                            type="checkbox" value="" id="edit-coupon">
                                                        <label class="form-check-label" for="edit-coupon">
                                                            Coupon
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input p-2 me-2 border-dark border-2"
                                                            type="checkbox" value="" id="edit-message">
                                                        <label class="form-check-label" for="edit-message">
                                                            Message
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input p-2 me-2 border-dark border-2"
                                                            type="checkbox" value="" id="edit-setting">
                                                        <label class="form-check-label" for="edit-setting">
                                                            Setting
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-4">
                                                        <input class="form-check-input p-2 me-2 border-dark border-2"
                                                            type="checkbox" value="" id="edit-task-menu">
                                                        <label class="form-check-label" for="edit-task-menu">
                                                            Task Menu
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="border-top mb-4">
                                                    <h2 class="fs-5 fw-bold py-3 mb-0 mt-2">Deactivate Account</h2>
                                                    <p class="d-flex text-danger"><span
                                                            class="material-icons text-danger me-2 ">
                                                            warning
                                                        </span>This cannot be undone!</p>
                                                    <button type="button"
                                                        class="btn btn-outline-danger fw-bold w-100 my-rounded-0-125 py-3 border-secondary-subtle">Deactivate
                                                        This Account</button>
                                                </div>
                                            </div>
                                            <div class="modal-footer border-0 py-3 mt-3 my-px-32">
                                                <button type="button"
                                                    class="btn btn-outline-success py-2 my-px-32 my-rounded-0-125"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <button type="button"
                                                    class="btn btn-success py-2 my-px-32 my-rounded-0-125">Update</button>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <th scope="row">#2</th>
                            <td>Zaina Goldsmith</td>
                            <td>zaina.goldsmith@mail.com</td>
                            <td>Yes</td>
                            <td class="d-flex justify-content-end">
                                <a href="#" class="nav-link text-dark link-success me-2">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success">
                                    <span class="material-icons">edit</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#3</th>
                            <td>Mahima Lopez</td>
                            <td>mahima.lopez@mail.com</td>
                            <td>Yes</td>
                            <td class="d-flex justify-content-end">
                                <a href="#" class="nav-link text-dark link-success me-2">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success">
                                    <span class="material-icons">edit</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#4</th>
                            <td>Pharrell Murray</td>
                            <td>pharrell.murray@mail.com</td>
                            <td>Yes</td>
                            <td class="d-flex justify-content-end">
                                <a href="#" class="nav-link text-dark link-success me-2">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success">
                                    <span class="material-icons">edit</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#5</th>
                            <td>Annika Mcbride</td>
                            <td>annika.mcbride@mail.com</td>
                            <td>Yes</td>
                            <td class="d-flex justify-content-end">
                                <a href="#" class="nav-link text-dark link-success me-2">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success">
                                    <span class="material-icons">edit</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#6</th>
                            <td>Fatimah Clark</td>
                            <td>fatimah.clark@mail.com</td>
                            <td>Yes</td>
                            <td class="d-flex justify-content-end">
                                <a href="#" class="nav-link text-dark link-success me-2">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success">
                                    <span class="material-icons">edit</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#7</th>
                            <td>Klaudia Rhodes</td>
                            <td>klaudia.rhodes@mail.com</td>
                            <td>Yes</td>
                            <td class="d-flex justify-content-end">
                                <a href="#" class="nav-link text-dark link-success me-2">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success">
                                    <span class="material-icons">edit</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#8</th>
                            <td>Tillie Lucero</td>
                            <td>tillie.lucero@mail.com</td>
                            <td>Yes</td>
                            <td class="d-flex justify-content-end">
                                <a href="#" class="nav-link text-dark link-success me-2">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success">
                                    <span class="material-icons">edit</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#9</th>
                            <td>Sabrina Stephenson</td>
                            <td>sabrina.stephenson@mail.com</td>
                            <td>Yes</td>
                            <td class="d-flex justify-content-end">
                                <a href="#" class="nav-link text-dark link-success me-2">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success">
                                    <span class="material-icons">edit</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#10</th>
                            <td>Annie Smith</td>
                            <td>annie.smith@mail.com</td>
                            <td>Yes</td>
                            <td class="d-flex justify-content-end">
                                <a href="#" class="nav-link text-dark link-success me-2">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="#" class="nav-link text-dark link-success">
                                    <span class="material-icons">edit</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- pagination -->
                <nav aria-label="Page navigation" class="pt-3">
                    <ul class="pagination justify-content-end">
                        <li class="page-item"><a class="btn btn-outline-success my-rounded-start p-1" href="#"><span
                                    class="material-icons align-bottom">
                                    chevron_left
                                </span></a></li>
                        <li class="page-item"><a class="btn btn-success rounded-0 py-1" href="#">1</a></li>
                        <li class="page-item"><a class="btn btn-outline-success rounded-0 py-1" href="#">2</a></li>
                        <li class="page-item"><a class="btn btn-outline-success rounded-0 py-1" href="#">3</a></li>
                        <li class="page-item"><a class="btn btn-outline-success my-rounded-end p-1" href="#"><span
                                    class="material-icons align-bottom">
                                    navigate_next
                                </span></a></li>
                    </ul>
                </nav>
            </div>
            </div>
        </main>



        <%- include('./layout/script'); -%>
</body>

</html>